<?xml version="1.0" encoding="UTF-8"?>
<hazelcast xmlns="http://www.hazelcast.com/schema/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.hazelcast.com/schema/config hazelcast-basic.xsd">
	<group>
		<name>bagheera</name>
		<password>pass</password>
	</group>
	<network>
		<port auto-increment="true">5701</port>
		<join>
			<multicast enabled="true">
				<multicast-group>224.2.2.3</multicast-group>
				<multicast-port>54327</multicast-port>
			</multicast>
			<tcp-ip enabled="false">
				<interface>127.0.0.1</interface>
			</tcp-ip>
		</join>
		<interfaces enabled="false">
			<interface>*</interface>
		</interfaces>
	</network>
	<executor-service>
		<core-pool-size>16</core-pool-size>
		<max-pool-size>64</max-pool-size>
		<keep-alive-seconds>60</keep-alive-seconds>
	</executor-service>
	<map name="telemetry">
		<time-to-live-seconds>20</time-to-live-seconds>
		<backup-count>1</backup-count>
		<eviction-policy>NONE</eviction-policy>
		<max-size>0</max-size>
		<eviction-percentage>25</eviction-percentage>
		<merge-policy>hz.ADD_NEW_ENTRY</merge-policy>
		<!-- HBaseMapStore -->
		<map-store enabled="true">
			<class-name>com.mozilla.bagheera.hazelcast.persistence.HBaseMapStore</class-name>
			<write-delay-seconds>5</write-delay-seconds>
			<property name="hazelcast.hbase.pool.size">50</property>
			<property name="hazelcast.hbase.table">telemetry</property>
			<property name="hazelcast.hbase.column.family">data</property>
			<property name="hazelcast.hbase.column.qualifier">json</property>
		</map-store>
	</map>
	<map name="metrics_ping">
		<time-to-live-seconds>20</time-to-live-seconds>
		<backup-count>1</backup-count>
		<eviction-policy>NONE</eviction-policy>
		<max-size>0</max-size>
		<eviction-percentage>25</eviction-percentage>
		<merge-policy>hz.ADD_NEW_ENTRY</merge-policy>
		<!-- NoOpMapStore
        <map-store enabled="true">
            <class-name>com.mozilla.bagheera.hazelcast.persistence.NoOpMapStore</class-name>
            <write-delay-seconds>5</write-delay-seconds>
        </map-store>
        -->
		<!-- BerkeleyMapStore
        <map-store enabled="true">
            <class-name>com.mozilla.bagheera.hazelcast.persistence.BerkeleyMapStore</class-name>
            <write-delay-seconds>5</write-delay-seconds>
            <property name="bdb.home">/tmp/</property>
        </map-store>
        -->
		<!-- HBaseMapStore -->
		<map-store enabled="true">
			<class-name>com.mozilla.bagheera.hazelcast.persistence.HBaseMapStore</class-name>
			<write-delay-seconds>5</write-delay-seconds>
			<property name="hazelcast.hbase.pool.size">50</property>
			<property name="hazelcast.hbase.table">metrics_ping</property>
			<property name="hazelcast.hbase.column.family">ping</property>
			<property name="hazelcast.hbase.column.qualifier">json</property>
		</map-store>
	</map>
</hazelcast>
