<?xml version="1.0" encoding="UTF-8"?>
<hazelcast xmlns="http://www.hazelcast.com/schema/config"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.hazelcast.com/schema/config
           http://www.hazelcast.com/schema/config/hazelcast-config-2.0.xsd">
	<group>
		<name>bagheera</name>
		<password>bagheera</password>
	</group>
	<network>
		<port auto-increment="true">5701</port>
		<join>
			<multicast enabled="true">
				<multicast-group>224.2.2.3</multicast-group>
				<multicast-port>54327</multicast-port>
			</multicast>
			<tcp-ip enabled="false">
				<interface>127.0.0.1</interface>
			</tcp-ip>
		</join>
		<interfaces enabled="false">
			<interface>*</interface>
		</interfaces>
	</network>
	<executor-service>
		<core-pool-size>16</core-pool-size>
		<max-pool-size>64</max-pool-size>
		<keep-alive-seconds>60</keep-alive-seconds>
	</executor-service>
	<map name="telemetry">
		<time-to-live-seconds>1</time-to-live-seconds>
		<backup-count>0</backup-count>
		<eviction-policy>NONE</eviction-policy>
		<max-size>0</max-size>
		<merge-policy>hz.ADD_NEW_ENTRY</merge-policy>
		<map-store enabled="true">
		<class-name>com.mozilla.bagheera.hazelcast.persistence.NoOpMapStore</class-name>
			<write-delay-seconds>1</write-delay-seconds>
			<properties>
				<property name="hazelcast.store.failure.rate">1.0</property>
			</properties>
		</map-store>
	</map>
</hazelcast>
